* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif;
}

html, body, #root {
  height: 100%;
}

.mantine-1yr0jao {
  padding: 0;
}

.mantine-AppShell-root {
  height: 100%;
}

.mantine-1x8cqb4{
  font-size: 16px;
}
